


<%= form_with model:@recruitment,url: recruitments_path, local:true do  |f| %>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="width: 200px;">
          <strong class="d-block text-gray-dark">タイトル</strong>
          <strong class="d-block text-gray-dark mx-auto row" style="width: 200px;"><%= f.text_field :title, placeholder: '東京都世田谷区フットサル', autofocus: true, class: "title", size: "80x10" %></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">募集者</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;">
            <%= attachment_image_tag(current_user, :profile_image, :fill, 50, 50, class:"bd-placeholder-img mr-2 rounded", fallback: "no-image-icon.jpg") %>
            <%= current_user.name %>
          </strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">スポーツジャンル</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;">
            <%= f.select :sports_genre, [["フットサル", "フットサル"], ["野球", "野球"] ,["バスケ","バスケ" ], ["テニス", "テニス"]],prompt: "スポーツジャンルを選択してください", class: "sports_genre" %>
          </strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">開催エリア</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;">
            <%= f.select :place_area, [ ["北海道","北海道"], ["青森", "青森"], ["岩手", "岩手"] ,["宮城","宮城" ], ["秋田", "秋田"], ["山形", "山形"],["福島", "福島"],["茨城", "茨城"],["栃木", "栃木"],["群馬", "群馬"],["埼玉", "埼玉"],["千葉", "千葉"],["東京", "東京"],["神奈川", "神奈川"],["新潟", "新潟"],["富山", "富山"],["石川", "石川"],["福井", "福井"],["山梨", "山梨"],["長野", "長野"],["岐阜", "岐阜"],["静岡", "静岡"],["愛知", "愛知"],["三重", "三重"],["滋賀", "滋賀"],["京都", "京都"],["大阪", "大阪"],["兵庫", "兵庫"],["奈良", "奈良"],["和歌山", "和歌山"],["鳥取", "鳥取"],["島根", "島根"],["岡山", "岡山"],["広島", "広島"],["山口", "山口"],["徳島", "徳島"],["香川", "香川"],["愛媛", "愛媛"],["高知", "高知"],["福岡", "福岡"],["佐賀", "佐賀"],["長崎", "長崎"],["熊本", "熊本"],["大分", "大分"],["宮崎", "宮崎"],["鹿児島", "鹿児島"],["沖縄", "沖縄"]],prompt: "県を選択してください", class: "place_area" %>
          </strong>
        </p>
      </div>
      <div class="media text-muted pt-3">s
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">開催日</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.datetime_field :event_date, autofocus: true, class: "event_date"%></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">場所</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.text_field :place, placeholder: '東京都世田谷区中央体育館', autofocus: true, class: "place", size: "80x10" %></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">値段</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.text_field :price, placeholder: 'チーム：3000円　個人：800円', autofocus: true, class: "price", size: "80x10" %></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">本文</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.text_area :recruitment_introduction, autofocus: true, class: "recruitment_introduction", size: "80x10" %></strong>
        </p>
      </div>

  <div class="row">
      <%= f.submit "募集を投稿する",class: "btn btn-success  offset-md-5 col-md-2 " %>
  </div>

<% end %>


