
<h2>募集作成</h2>

<%= form_with model:@recruitment,url: recruitments_path, local:true do  |f| %>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray" style="width: 200px;">
          <strong class="d-block text-gray-dark">タイトル</strong>
          <strong class="d-block text-gray-dark mx-auto row" style="width: 200px;"><%= f.text_field :title, autofocus: true, class: "title", size: "80x10" %></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">募集者</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;">
            <%= attachment_image_tag(current_user, :profile_image, :fill, 50, 50, class:"bd-placeholder-img mr-2 rounded", fallback: "no-image-icon.jpg") %>
            <%= current_user.name %>
          </strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">開催日</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.datetime_field :event_date, autofocus: true, class: "event_date"%></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">場所</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.text_field :place, autofocus: true, class: "place", size: "80x10" %></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">値段</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.text_field :price, autofocus: true, class: "price", size: "80x10" %></strong>
        </p>
      </div>
      <div class="media text-muted pt-3">
        <img data-src="holder.js/32x32?theme=thumb&amp;bg=e83e8c&amp;fg=e83e8c&amp;size=1" alt="" class="mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">本文</strong>
          <strong class="d-block text-gray-dark mx-auto" style="width: 200px;"><%= f.text_area :recruitment_introduction, autofocus: true, class: "recruitment_introduction", size: "80x10" %></strong>
        </p>
      </div>

  <div class="row">
      <%= f.submit "募集を投稿する",class: "btn btn-success  offset-md-5 col-md-2 " %>
  </div>

<% end %>


