<header>
  <h3 class="nav navbar-left logo">
    <%= link_to "SportsPark", root_path %>
  </h3>
  <nav>
    <ul class="nav nav-pills navbar-right">
        <li>
          <%= link_to " ログイン", new_user_session_path, class: "header_btn glyphicon glyphicon-log-in" %>
        </li>
        <li>
          <%= link_to " ログアウト", destroy_user_session_path, method: :delete, class: "header_btn glyphicon glyphicon-log-out" %>
        </li>
        <li>
          <%= link_to " ユーザー一覧", users_path, class: "header_btn glyphicon glyphicon-log-in" %>
        </li>
        <li>
          <%= link_to " マイページ", mypage_show_user_path(current_user), class: "header_btn glyphicon glyphicon-log-in" %>
        </li>
    </ul>
  </nav>
</header>
